*{
	box-sizing: border-box;
	font-family:Arial, Helvetica, sans-serif
}

body{
	background-color: whites;
	display: block;
	margin: 10;
	box-sizing: content-box;
}


.rightHeader{
	color:red;
	display: block;
}

.leftHeader{
	color: purple;
	padding: 5px;
	text-decoration-style: double;
	display:block
}

.mainHeader {
display:flex;
width: 80vw;
font-family: Arial, Helvetica, sans-serif;
color: purple;
justify-content: space-between;
padding: 20px, 40px;
}
#mainPage {
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-right: 20vw;
}

#title {
text-align: center;
font-size: 40px;
padding: 50px 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.summary{
	display: block;
	align-items: center;
	justify-content: center;
}
#mainPageSummary {
flex-wrap: wrap;
justify-content: center;
padding: 15px 26vw ;
display: block;
align-items: center;
}

/*buttons*/
.startQuizBtnArea{
	display:block;
	box-sizing: border-box;
}

#startQuizBtn{
	background-color: purple;
	color: white;
	margin: 10px 30vw;
	padding: 0 25px;
	text-align: center;
	font-size: large;
	border-radius: 5px;
}

#incorrectAnswer{
	text-align: center;
	font-size: medium;
	font-style: italic;
	color: red;
	padding: 20px;
	width: 60vw;
}

/*questions and answers area*/
.choicesContainer{
	flex-direction: column;
}
#option{
text-align: center;
font-size: 40px;
padding: 50px 0;
font-family: Arial, Helvetica, sans-serif;
}
#choices{
justify-content: center;
padding: 15px 26vw ;
align-items: center;
display:list-item;
}

/*high score page*/
.score-container{
	background-color: white;
}
.high-score{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-top: 100px;
}
.three-btns{
 flex-direction: column;
 display:flex;
 align-items: center;
 justify-content: center;
}

#clear-scorebtn{
	color: white;
	background-color: purple;
	text-align: center;
	margin-top: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}
#button{
	color: white;
	background-color: purple;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 20px;
}